oc_prod/subscriber/WebContent/SystemData/OC_Loyalty_Enroll.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OCLOYALTY_ENROLLMENTREQS">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="OCLoyaltyEnrollReq">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="header">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="requestId" type="xs:string" />
                    <xs:element name="pcFlag" type="xs:string" />
                    <xs:element name="requestDate" type="xs:string" />
                    <xs:element name="storeNumber" type="xs:string" />
                    <xs:element name="subsidiaryNumber" type="xs:string" minOccurs="0"/>
                     <xs:element name="receiptNumber" type="xs:string" minOccurs="0"/>
                    <xs:element name="docSID" type="xs:string" />
                     <xs:element name="sourceType" type="xs:string" minOccurs="0"/>
                  </xs:all>
                </xs:complexType>
              </xs:element>
              <xs:element name="membership">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="issueCardFlag" type="xs:string" />
                    <xs:element name="cardNumber" type="xs:string" />
                    <xs:element name="cardPin" type="xs:string" />
                    <xs:element name="phoneNumber" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="customer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="customerId" type="xs:string" />
                    <xs:element name="firstName" type="xs:string" />
                    <xs:element name="lastName" type="xs:string" />
                    <xs:element name="phone" type="xs:string" />
                    <xs:element name="emailAddress" type="xs:string" />
                    <xs:element name="addressLine1" type="xs:string" />
                    <xs:element name="addressLine2" type="xs:string" />
                    <xs:element name="city" type="xs:string" />
                    <xs:element name="state" type="xs:string" />
                    <xs:element name="postal" type="xs:string" />
                    <xs:element name="country" type="xs:string" />
                    <xs:element name="birthday" type="xs:string" />
                    <xs:element name="anniversary" type="xs:string" />
                    <xs:element name="gender" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="user">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="userName" type="xs:string" />
                    <xs:element name="organizationId" type="xs:string" />
                    <xs:element name="token" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>